---
import Navbar from "../components/Navbar.astro";
// import HeaderImg from "../components/header_img.astro";
import MedeeGol from "../components/MedeeGoldoo.astro";
import ElsegchZuwlumj from "../components/ElsegchZuwlumj.astro";
import ToonMedeelel from "../components/ToonMedeelel.astro";
import TenhimList from "../components/tenhimList.astro";
import FooderList from "../components/FooderList.astro";

import HeaderImg from "../components/headerPro.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Монгол Улсын Их Сургууль</title>
  </head>
  <body>
    <Navbar />
    <HeaderImg />
    <MedeeGol />
    <ElsegchZuwlumj />
    <ToonMedeelel />
    <TenhimList />
    <FooderList />
  </body>
</html>
