<!doctype html>
<html lang="en">
  <head
    ><meta charset="utf-8" /><link rel="icon" href="/logo.png" /><meta
      name="viewport"
      content="width=device-width,initial-scale=1"
    /><meta name="theme-color" content="#000000" /><meta
      name="description"
      content="МУИС-ийн Баруун бүсийн сургууль"
    /><meta name="og:url" content="__URL__" /><meta
      property="og:title"
      content="МУИС-ийн Баруун бүсийн сургууль"
    /><meta
      property="og:description"
      content="МУИС-ийн Баруун бүсийн сургууль"
    /><meta
      property="og:image"
      content="http://clouduni.west.edu.mn/static/media/khu.d6f18fcb.jpg"
    /><link rel="apple-touch-icon" href="/num-logo.svg" /><link
      rel="manifest"
      href="/manifest.json"
    /><title>МУИС-ийн Баруун бүсийн сургууль</title><script
      defer="defer"
      src="/static/js/main.3fb1d361.js"></script><link
      href="/static/css/main.a4d374c7.css"
      rel="stylesheet"
    /></head
  ><body><noscript></noscript><div id="root"></div></body>
</html>
