---
import "../styles/global.css";
---

<footer class="bg-blue-900 text-white py-8 justify-center items-center">
  <div
    class="container mx-auto px-4 flex flex-col md:flex-row justify-between items-center"
  >
    <!-- Logo ба нэр -->
    <div class="text-center md:text-left left-2 justify-center">
      <img
        src="/src/assets/image/NUMpng.png"
        alt="Лого"
        class="h-16 mx-auto md:mx-0"
      />
      <h2 class="text-xl font-bold mt-2">БАРУУН БҮСИЙН СУРГУУЛЬ</h2>
      <p class="text-sm text-gray-300">Монгол Улсын Их Сургууль</p>
    </div>

    <!-- Холбоо барих хэсэг -->
    <div class="mt-6 md:mt-0 text-center md:text-right">
      <h3 class="text-lg font-bold">Холбоо барих</h3>
      <p class="flex items-center justify-center md:justify-end gap-2">
        📞 7700-6901
      </p>
      <p class="flex items-center justify-center md:justify-end gap-2">
        ✉️ <a href="mailto:khovd@num.edu.mn" class="hover:underline"
          >khovd@num.edu.mn</a
        >
      </p>
      <p class="flex items-center justify-center md:justify-center gap-2">
        📍 Ховд аймаг, Жаргалант сум
      </p>
    </div>
  </div>

  <div
    class="border-t border-white mt-6 pt-4 text-left text-sm text-white px-40"
  >
    © МУИС-ИЙН БАРУУН БҮСИЙН СУРГУУЛЬ
  </div>
</footer>
