---
import axios from "axios";

const axiosNews = async () => {
  try {
    const response = await axios.get("http://west.edu.mn:3000/api/v1/news");

    if (!response.data.success || !Array.isArray(response.data.news)) {
      throw new Error("API-аас буруу форматтай өгөгдөл ирлээ.");
    }

    return response.data.news.slice(0, 9).map((news) => {
      const imageBlock = news.blocks.find(
        (block) => block.type === "simpleImage" || "image"
      );
      return {
        title: news.title,
        image: imageBlock ? imageBlock.data.file.url : "",
      };
    });
  } catch (error) {
    console.error("API axios алдаа:", error);
    return [];
  }
};

const newsList = await axiosNews();
---

<div class="relative bg-white w-full mx-auto pt-15">
  <div class="overflow-hidden">
    {
      newsList.length > 0 ? (
        <div
          id="slider"
          class="flex transition-transform duration-700 ease-in-out"
        >
          {newsList.map((item, i) => (
            <div class="w-full  shrink-0" key={i}>
              <div class="relative h-150  overflow-hidden">
                <img
                  src={item.image}
                  alt={item.title}
                  class="w-full h-full  align-middle object-cover "
                />
                {/* <div class=" absolute bottom-0 left-0 w-full h-25 bg-blue-900 bg-opacity-50 text-white text-center align-middle p-2">
                  <h2 class=" text-xl font-semibold align-middle ">
                    {item.title}
                  </h2>
                </div> */}
              </div>
            </div>
          ))}
        </div>
      ) : (
        <p class="text-center">Мэдээлэл ачааллаж байна...</p>
      )
    }
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    let currentIndex = 0;
    const slider = document.getElementById("slider");
    const totalItems = slider.children.length;

    if (totalItems <= 3) return;

    setInterval(() => {
      currentIndex = (currentIndex + 3) % totalItems;
      slider.style.transform = `translateX(-${(currentIndex / 3) * 100}%)`;
    }, 3000);
  });
</script>
